.weekDate {
    display: grid;
    justify-content: center;
    font-weight: bolder;
    margin-bottom: 10px;
    margin-top: 12vh;
}

.theTeachersSubjects {
    display: grid;
    justify-self: center;
    width: 80vw;
}

.theTeacherSubjectsHeader {
    font-weight: bolder;
    font-size: 1.2rem;
    justify-self: center;
    margin-bottom: 10px;
}

.theTeacherSubjectsBody {
    display: grid;
    justify-self: center;
    font-weight: bold;
    width: inherit;
}

.theTeacherSubjectsBody a {
    color: black;
    background-color: grey;
    margin-bottom: 10px;
    padding: 5px;
}

.aTeacherSubject {
    display: grid;
    grid-template-columns: 1fr 140px;
}

.aTeacherSubject span {
    align-self: center;
}

.gotoClass {
    padding: 5px;
    border: 1px solid black;
    text-align: center;
    border-radius: 10px;
}

.timeTableTab {
    justify-self: center;
    font-weight: bolder;
    background-color: rgba(0, 0, 0, 0.395);
    width: 100%;
    padding: 10px;
}

.timeTableTab .tabElement {
    padding: 8px;
    /* border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; */
    background-color: rgb(47, 190, 176);
}

.activeTab {
    background-color: rgb(190,0, 0) !important;
}